<footer>
  <div class="row-fluid">
    <div class="span4">
      <%= render :partial => "elements/footer_mainmenu_display" %>
    </div>
    <div class="span2">
      <h3>Connect with Us</h3>
      <br />
    </div>
    <div class="span6">
      &nbsp;
    </div>
  </div>
</footer>